<a href="https://colab.research.google.com/github/NadezhdaGruzdeva/Statistics-Probability/blob/main/Statistics%26Probability_HW10_Analysis_of_variance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Полезные ссылки:**  
семинар  https://gb.ru/lessons/307312  
лекция  https://gb.ru/lessons/307243   
https://en.wikipedia.org/wiki/Analysis_of_variance

#**Дисперсионный анализ**

##**Однофакторный дисперсионный анализ**

В дисперсионном анализе исследуется влияние одного или нескольких качественных показателей на количественный показатель.

В однофакторном дисперсионном анализе на одну количественную переменную $Y$ влияет один фактор (один качественный показатель), 

наблюдаемый на $k$ уровнях, то есть имеем $k$ выборок для переменной $Y$.

Наблюдаемые данные обозначим $y_{ij}$, где $i$ — индекс уровня ($i$ = 1, 2, ..., $k$), $j$ — индекс наблюдения на $i$-м уровне 
($j$ = 1, 2, ..., $n_{i}$).

На каждом уровне может быть свое число наблюдений $n_{i}$. Общее число наблюдений — это сумма наблюдений на всех уровнях:

$$n = \sum\limits_{i=1}^{k}n_i$$

По данным $y_{ij}$ определяется:

$\overline{y}_{i}$ — среднее значение переменной Y на i-м уровне:

$$\overline{y}_{i} = \frac{1}{n_i}\sum\limits_{j=1}^{n_i}y_{ij}$$

$\overline{Y}$ — среднее значение переменной **Y** по всем значениям:

$$\overline{Y} = \frac{1}{n}\sum\limits_{i=1}^{k}\sum\limits_{j=1}^{n_i}y_{ij} = \frac{1}{n}\sum\limits_{i=1}^{k}\overline{y}_{i}n_{i}$$

$S^2$ — сумма квадратов отклонений наблюдений от общего среднего:

$$S^2 = \sum\limits_{i=1}^{k}\sum\limits_{j=1}^{n_i}({y}_{ij} - \overline{Y})^2$$

$S_F^2$ — сумма квадратов отклонений средних групповых значений от общего среднего значения $\overline{Y}$:

$$S_F^2 = \sum\limits_{i=1}^{k}(\overline{y}_i - \overline{Y})^2n_i$$

$S_{ост}^2$ — остаточная сумма квадратов отклонений:

$$S_{ост}^{2} = \sum\limits_{i=1}^{k}\sum\limits_{j=1}^{n_i}(y_{ij} - \overline{y}_i)^2$$

Тогда сумма квадратов отклонений наблюдений от общего среднего дожна быть равна:

$$S^2 = S_F^2 + S_{ост}^2$$

Затем необходимо вычислить:

1) общую дисперсию:

$$\sigma_{общ}^{2} = \frac{S^2}{n - 1} = \frac{1}{n-1}\sum\limits_{i=1}^{k}\sum\limits_{j=1}^{n_i}(y_{ij} - \overline{Y})^2$$

2) факторную дисперсию:

$$\sigma_{F}^{2} = \frac{S_{F}^{2}}{k-1} = \frac{1}{k-1}\sum\limits_{i=1}^{k}(\overline{y}_i - \overline{Y})^{2}n_i$$

3) остаточную дисперсию:

$$\sigma_{ост}^{2} = \frac{S_{ост}^{2}}{n - k} = \frac{1}{n - k}\sum\limits_{i=1}^{k}\sum\limits_{j=1}^{n_i}(y_{ij} - \overline{y}_i)^2$$

$$(H_0: \overline{y}_1 = \overline{y}_2 = ... = \overline{y}_k).$$

Чтобы проверить эту гипотезу, необходимо воспользоваться соотношением:

$$F_H = \frac{\sigma_{F}^{2}}{\sigma_{ост}^{2}}$$

Если значение  $F_H$ превышает $F_{крит}$ из таблицы критических точек распределения Фишера-Снедекора для заданного уровня 

значимости $\alpha$ двух степеней свободы $df_{межд} = k - 1$ (относится к числителю соотношения) и $df_{внутр} = n - k$ (относится к знаменателю), 

то выборки имеют разные средние значения.

Таблицы Фишера-Снедекора можно найти по ссылкам:


<a href = "https://math.semestr.ru/corel/table-fisher.php">Критические точки распределения Фишера–Снедекора</a>
        
<a href = "https://www.matburo.ru/tv/table_fisher.pdf">Распределение Фишера–Снедекора (F-распределение)</a>

Еще одно соотношение:

$$\eta^{2} = \frac{S_{F}^{2}}{S_{общ}^{2}}$$

Чем больше значение $\eta^2$ (греч. «эта», обозначает эмпирическое корреляционное отношение, располагается между 0 и 1), тем больше

вероятность, что выборки имеют разные средние значения. Принято считать, что при значениях $\eta^2$ ниже 0.2-0.3 групповые значения

средних не имеют статистически достоверного отличия.

##**Двухфакторный дисперсионный анализ**

В таблице представлены расчетные формулы для двухфакторного  
дисперсионного анализа с однократными наблюдениями.

<img src='https://ru.files.fm/thumb_show.php?i=vppqqgpj&view' width=650>Таблица 1. Формулы для двухфакторного дисперсионного анализа с однократными наблюдениями</img>

#**Задача 1**  
Провести дисперсионный анализ для определения того, есть ли различия среднего роста среди взрослых футболистов, хоккеистов и штангистов.
Даны значения роста в трех группах случайно выбранных спортсменов:

Футболисты: 173, 175, 180, 178, 177, 185, 183, 182.

Хоккеисты: 177, 179, 180, 188, 177, 172, 171, 184, 180.

Штангисты: 172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170.

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

Нулевая гипотеза:  
$H0 : \mu_1=\mu_2=\mu_3$  т.е. средний рост спортсмена не зависит от вида спорта, которым он занимается(из представленных трех).  
Альтернативная гипотеза:  
$H1: \mu_1\neq\mu_2\neq\mu_3$ т.е. средний рост спортсмена зависит от выбранного им спорта.

In [ ]:
football = np.array([173, 175, 180, 178, 177, 185, 183, 182])
hockey = np.array([177, 179, 180, 188, 177, 172, 171, 184, 180])
powerlifting = np.array([172, 173, 169, 177, 166, 180, 178, 177, 172, 166, 170])

In [ ]:
stats.f_oneway(football, hockey, powerlifting)

F_onewayResult(statistic=5.500053450812596, pvalue=0.010482206918698694)

##**Вывод:**
P-value = 0.0105  
При alpha=0.05 или 0,10 (> 0.01)  отвергаем нулевую гипотезу.    
То есть вид спорта статистичиски влияет на раст спортсменов.   
Однако при alpha = 0.01 нулевую гипотезу не отвергаем

Проведем post-hoc test

In [ ]:
df = pd.DataFrame(list(zip(football, hockey, powerlifting)),
               columns =['football', 'hockey', 'powerlifting'])
df

   football  hockey  powerlifting
0       173     177           172
1       175     179           173
2       180     180           169
3       178     188           177
4       177     177           166
5       185     172           180
6       183     171           178
7       182     184           177

Увы разное количесиво наблюдений в выборках, поэтому без доработки выборок не получится провести нормальный post-hoc test

In [ ]:
len(football) == len(hockey) == len(powerlifting)

False

In [ ]:
pow()